<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow-lg">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>

      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="mb-3">
              <label for="password1" class="form-label">Contraseña</label>
              <div class="input-group">
                <input [type]="mostrarPassword1 ? 'text' : 'password'" class="form-control" id="password1"
                      [(ngModel)]="password" name="password1" required>
                <span class="input-group-text" (click)="mostrarPassword1 = !mostrarPassword1" style="cursor: pointer;">
                  <i [ngClass]="mostrarPassword1 ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </span>
              </div>
            </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>

        <!-- 🔗 Enlace de recuperación -->
        <div class="text-center mt-3">
          <a routerLink="/recuperar" class="text-decoration-none">¿Has olvidado tu contraseña?</a>
        </div>

      </form>

      <div *ngIf="successMessage" class="alert alert-success mt-3">
        Bienvenido, {{ authService.getUser()?.nombre }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
