<div class="container mt-5" *ngIf="authService.isLoggedIn(); else registroRequerido">

  <!-- BOTÓN PARA PROFESORES -->
  <div *ngIf="authService.isProfesor()" class="mb-4 text-end">
    <a routerLink="/crear-curso" class="btn btn-outline-primary">➕ Añadir nuevo curso</a>
  </div>

  <!-- CURSOS INSCRITOS -->
   <div *ngIf="authService.isEstudiante()" class="mb-4 container mt-5">
    <h2 class="mb-4">Tus Cursos e Itinerarios</h2>

    <h4>Mis Cursos</h4>

  <div *ngIf="mis_cursos.length === 0" class="alert alert-info">
    No estás inscrito en ningún curso todavía.

    Objetivos para mañana Martes: 
    - Hacer la pagina de perfil obligatorio (incluir la imagen por defecto, investigar)
    - Opcional si da tiempo, hacer la página de cursos, solo sin funcionalidad de momento
  </div>

  <div class="row" *ngIf="mis_cursos.length > 0">
    <div class="col-md-4 mb-3" *ngFor="let curso of mis_cursos">
      <div class="card border-primary h-100 shadow-sm cursor-pointer" (click)="irAlCurso(curso.id)">
                <!-- Imagen del curso -->
                <img
                *ngIf="curso.foto"
                [src]="curso.foto"
                alt="{{ curso.titulo }}"
                class="card-img-top"
                style="object-fit: cover; height: 180px;"
              />
        <div class="card-header bg-primary text-white">
          {{ curso.titulo }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ curso.descripcion }}</p>
          <p><strong>Categoría:</strong> {{ curso.categoria_nombre|| 'N/A' }}</p>
          <!-- Mostrar progreso solo si es estudiante e inscrito -->
          <p *ngIf="authService.isEstudiante() && curso.progreso_usuario != null">
            <strong>Progreso:</strong> {{ curso.progreso_usuario }}%
          </p>

          <!-- Mostrar barra de progreso -->
          <div class="progress mb-2" *ngIf="authService.isEstudiante() && curso.progreso_usuario != null">
            <div
              class="progress-bar"
              role="progressbar"
              [style.width.%]="curso.progreso_usuario"
              [attr.aria-valuenow]="curso.progreso_usuario"
              aria-valuemin="0"
              aria-valuemax="100"
            >
            </div>
          </div>

          <!-- Mostrar precio solo si no hay progreso (es decir, no inscrito) -->
          <p *ngIf="curso.progreso_usuario == null">
            <strong>Precio:</strong> {{ curso.precio }} €
          </p>
          <button class="btn btn-outline-primary w-100 mt-2">Entrar al curso</button>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <h4 class="text-center">Sugerencias de cursos</h4>

  <br>

  <div *ngIf="cursos.length === 0" class="alert alert-secondary">
    No hay sugerencias disponibles.
  </div>

  <div class="row" *ngIf="cursos.length > 0">
    <div class="col-md-4 mb-3" *ngFor="let curso of cursos">
      <div class="card h-100 shadow cursor-pointer" (click)="irAlCurso(curso.id)">
        <!-- Imagen del curso -->
        <img
          *ngIf="curso.foto"
          [src]="curso.foto"
          alt="{{ curso.titulo }}"
          class="card-img-top"
          style="object-fit: cover; height: 180px;"
        />
        <div class="card-body">
          <h5 class="card-title">{{ curso.titulo }}</h5>
          <p class="card-text">{{ curso.descripcion }}</p>
          <p><strong>Categoría:</strong> {{ curso.categoria_nombre || 'N/A' }}</p>
          <p><strong>Precio:</strong> {{ curso.precio }} €</p>

          <!-- Botón según rol -->
          <button class="btn btn-success w-100 mt-2" (click)="apuntarse(curso)" *ngIf="authService.isEstudiante()">Apuntarme</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <h4 class="text-center">Sugerencias de Itinerarios</h4>

  <br>

  <div *ngIf="itinerarios.length === 0" class="alert alert-secondary">
    No hay sugerencias de disponibles de los itinerarios
  </div>

  <div class="row" *ngIf="itinerarios.length > 0">
    <div class="col-md-4 mb-3" *ngFor="let itinerario of itinerarios">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title">{{ itinerario.titulo }}</h5>
          <p class="card-text">{{ itinerario.descripcion }}</p>

          <div *ngIf="itinerario.cursos.length > 0">
            <h6 class="mt-3">Cursos incluidos:</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let curso of itinerario.cursos">
                <strong>{{ curso.titulo }}</strong><br>
                <small>{{ curso.descripcion }}</small>
              </li>
            </ul>
          </div>

          <!-- Botón según rol -->
          <button class="btn btn-success w-100 mt-3" *ngIf="authService.isEstudiante()">Apuntarme</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="authService.isProfesor()" class="mb-4 container mt-5">
  <h2 class="mb-4">Cursos e Itinerarios</h2>

  <h4 class="text-center">Cursos</h4>

  <br>

  <div class="row" *ngIf="cursos.length > 0">
    <div class="col-md-4 mb-3" *ngFor="let curso of cursos">
      <div class="card h-100 shadow">
        <!-- Imagen del curso -->
        <img
          *ngIf="curso.foto"
          [src]="curso.foto"
          alt="{{ curso.titulo }}"
          class="card-img-top"
          style="object-fit: cover; height: 180px;"
        />
  
        <div class="card-body">
          <h5 class="card-title">{{ curso.titulo }}</h5>
          <p class="card-text">{{ curso.descripcion }}</p>
          <p><strong>Categoría:</strong> {{ curso.categoria_nombre || 'N/A' }}</p>
          <p><strong>Precio:</strong> {{ curso.precio }} €</p>
  
          <!-- Botón según rol -->
          <button class="btn btn-outline-secondary w-100 mt-2" *ngIf="authService.isProfesor()" (click)="irAlCurso(curso.id)">Ver curso</button>
        </div>
      </div>
    </div>
  </div>

<br>

  <h4 class="text-center">Itinerarios</h4>

  <br>

<div class="row" *ngIf="itinerarios.length > 0">
  <div class="col-md-4 mb-3" *ngFor="let itinerario of itinerarios">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">{{ itinerario.titulo }}</h5>
        <p class="card-text">{{ itinerario.descripcion }}</p>

        <div *ngIf="itinerario.cursos.length > 0">
          <h6 class="mt-3">Cursos incluidos:</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let curso of itinerario.cursos">
              <strong>{{ curso.titulo }}</strong><br>
              <small>{{ curso.descripcion }}</small>
            </li>
          </ul>
        </div>

        <!-- Botón según rol -->
        <button class="btn btn-outline-secondary w-100 mt-3" *ngIf="authService.isProfesor()">Ver itinerario</button>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Si no está logueado -->
<ng-template #registroRequerido>
  <div class="container mt-5 text-center">
    <div class="alert alert-warning">
      <h4 class="alert-heading">¡Ups!</h4>
      <p>Debes <a routerLink="/login">iniciar sesión</a> o <a routerLink="/register">registrarte</a> para acceder a los cursos.</p>
    </div>
  </div>
</ng-template>
